*.class

GalaxyInvaders/bin

GalaxyInvaders-android/bin
GalaxyInvaders-android/gen

GalaxyInvaders-desktop/bin

GalaxyInvaders-free-Amazon/bin
GalaxyInvaders-free-Amazon/gen

GalaxyInvaders-free-GooglePlay/bin
GalaxyInvaders-free-GooglePlay/gen

GalaxyInvaders-free-Samsung/bin
GalaxyInvaders-free-Samsung/gen

GalaxyInvaders-free-SlideMe/bin
GalaxyInvaders-free-SlideMe/gen

GalaxyInvaders-AGC/bin
GalaxyInvaders-AGC/gen

GalaxyInvaders-GPGS/bin
GalaxyInvaders-GPGS/gen